@import '../styles/libraryStyles.scss';

.dropdown {
  position: relative;
  width: 170px;
  //   height: 100%;
  filter: url(#goo);
  font-family: 'Roboto', sans-serif;

  &__face {
    display: block;
    position: relative;
    letter-spacing: 1.5px;
    min-width: 100px;
    padding: 8px 15px;
    border-radius: 10px;
    border: none;
    background-color: $light_blue;
    margin: 5px;
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    &:hover {
      font-weight: 600;
      cursor: pointer;
      color: $pale;
      //   color: $my_orange;
    }
  }
  &__items {
    background-color: $light_blue;
    padding: 10px 5px 10px 20px;
    border-radius: 25px;
  }

  //   &__text {
  //     text-align: center;
  //   }

  &__items {
    margin: 0;
    position: absolute;
    right: 0;
    top: 50%;
    width: 100%;
    list-style: none;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    visibility: hidden;
    z-index: -1;
    opacity: 0;
    transition: all 0.4s cubic-bezier(0.93, 0.88, 0.1, 0.8);
    color: white;

    &::before {
      content: '';
      background-color: $light_blue;
      position: absolute;
      bottom: 100%;
      right: 20%;
      height: 40px;
      width: 20px;
    }
  }

  &__arrow {
    border-bottom: 2px solid $blue;
    border-right: 2px solid $blue;
    position: absolute;
    top: 50%;
    right: 30px;
    width: 10px;
    height: 10px;
    transform: rotate(45deg) translateY(-50%);
    transform-origin: right;
  }

  //   .test {
  //     position: relative;
  //     filter: url(#goo);
  //   }

  .secondlayer_dropdown__items {
    // top: 125px;
    background-color: $light_blue;
    padding: 10px 5px 10px 20px;
    border-radius: 25px;
    // top: calc(100% + 105px);
    visibility: visible;
    opacity: 1;
    display: flex;
    flex-direction: column;
    margin: 0;
    position: absolute;
    width: 100%;
    list-style: none;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    transition: all 0.3s cubic-bezier(0.93, 0.88, 0.1, 0.8);
    color: white;
    // visibility: hidden;
    // z-index: -1;
    // opacity: 0;

    &::before {
      content: '';
      background-color: $light_blue;
      position: absolute;
      bottom: 100%;
      right: 20%;
      height: 40px;
      width: 20px;
      z-index: -1;
    }
  }

  input {
    display: none;

    &:checked ~ .dropdown__items {
      top: calc(100% + 25px);
      visibility: visible;
      opacity: 1;
      //   display: flex;
      //   flex-direction: column;
    }
  }

  li {
    &:hover {
      color: $my_orange;
      cursor: pointer;
    }
  }
}

// body {
//   background-image: linear-gradient(140deg, #e2e2e2, #cdcdcd);
//   display: grid;
//   place-items: center;
//   font-family: 'Lato', Arial, sans-serif;
//   height: 100vh;
//   margin: 0;
// }

* {
  box-sizing: border-box;
}

svg {
  display: none;
}
