@import '../styles/libraryStyles.scss';

.swal2-container {
  font-family: 'Roboto' !important;
}

.swal2-title {
  font-size: 25px !important;
  font-weight: 600px !important;

  color: $darker_orange !important;
  letter-spacing: 1px !important;
}

.swal2-popup .swal2-styled:focus {
  box-shadow: none !important;
}

.swal2-styled.swal2-confirm {
  background-color: $light_orange !important;
  border-color: $light_orange !important;
  border: none;
  letter-spacing: 1.5px !important;
}

.swal2-html-container {
  color: $light_orange !important;
  font-style: italic !important;
}

body.swal2-shown > [aria-hidden='true'] {
  transition: 0.1s filter;
  filter: blur(5px);
}
